<div class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">ERROR 404</h1>
          <h2 class="cover-heading">La pagina a la que intentas acceder no existe.</h2>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Inicio</a>
            <a class="nav-link" [routerLink]="['/registro']">Registro</a>
            <a class="nav-link" [routerLink]="['/login']">Login</a>
            <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </nav>
        </div>
      </header>
    </div>
</div>