<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div>
            <h1>{{page_title}}</h1>
            <p *ngIf="status != 'success'">
                Escribe el email que usaste para abrir tu cuenta
            </p>

            <div class="alert alert-success" *ngIf="status == 'success'">
                Se ha enviado un email con una contraseña nueva, usala para 
                <a [routerLink]="['/login']">iniciar sesión.</a>
                <br>
                <small>
                    Es recomendable, una vez iniciada la sesión cambiar tu contraseña.
                </small>
                
            </div>

            <div class="alert alert-danger" *ngIf="status=='error'">
                Error: El email no se ha enviado o no es un email valido.
            </div>

                <form  #passwordrecoveriForm="ngForm" (ngSubmit)="onSubmit(passwordrecoveriForm)">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="
            user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El correo no es válido
                        </small>
                    </div>

                    <input type="submit" value="Enviar" class="btn btn-success"
                        [disabled]="passwordrecoveriForm.invalid" />
                </form>
        </div>
    </div>
</div>