<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div>
            <h1>{{page_title}}</h1>
            <p *ngIf="status != 'success'">
                Envianos cualquier consulta, sugerencia, propuesta o duda.
            </p>

            <div class="alert alert-success" *ngIf="status == 'success'">
                El mensaje ha sido enviado correctamente.
            </div>

            <div class="alert alert-danger" *ngIf="status=='error'">
                El mensaje no se ha enviado.
            </div>

            <!--Formulario de contacto-->
            <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
                <div class="form-group">
                    <label for="password">Contraseña actual</label>
                    <input type="password" name="originalpassword" class="form-control"
                     #originalpassword="ngModel"
                     [(ngModel)]="user.password" required pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,15}$">
                    <small *ngIf="!originalpassword.valid && originalpassword.touched" class="invalid-feedback d-block">
                        La contraseña debe tener entre 6 y 15 caracteres, con al menos una letra y un número. <i> Ejemplo: Lorem1448</i>
                    </small>
                </div>

                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input type="password" name="newpassword" class="form-control"
                     #newpassword="ngModel"
                     [(ngModel)]="user.newpassword" required pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,15}$">
                    <small *ngIf="!newpassword.valid && newpassword.touched" class="invalid-feedback d-block">
                        La contraseña debe tener entre 6 y 15 caracteres, con al menos una letra y un número. <i> Ejemplo: Lorem1448</i>
                    </small>
                </div>

                <div class="form-group">
                    <label for="password">Repetir la nueva Contraseña para confirmar</label>
                    <input type="password" name="repeatnewpassword" class="form-control"
                     #repeatnewpassword="ngModel"
                     [(ngModel)]="password.newpassword" required pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,15}$">
                    <small *ngIf="!repeatnewpassword.valid && repeatnewpassword.touched" class="invalid-feedback d-block">
                        Error al repetir la contraseña:La contraseña no coincide.
                    </small>
                </div>
               

                <input type="submit" value="Enviar" class="btn btn-success" [disabled]="passwordForm.invalid" />
            </form>
        </div>
    </div>
</div>

